c_patterns
readargs
*.db
*.k2r
*.r2w
*.w2r

images/big_*.png

# Ignore linked files from c_patterns
src/get_keypress.*
src/columnize.*
src/commaize.*
src/prompter.*
src/read_file_lines.*

src/*.o
src/bdb
src/istringt
src/ivtable
src/parse
src/thesaurus
src/utils
files
term
th
thesaurus*
words
wordc

scripts/dict.xml
